bin/
obj/
*.user
.vs/
verify/
build_check/
build_check*.xbf
build_checkUI/
build_verify/
dist/
publish_out/
tools/relaunch_log.txt
# Inno Setup default output dir (only used if OutputDir override is ever dropped)
tools/installer/Output/
